<div>
    <h2 id="page-heading">
        <span>Appliance Categories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-appliance-categories" [routerLink]="['/appliance-categories/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Appliance Categories
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="applianceCategories?.length === 0">
        <span>No applianceCategories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="applianceCategories?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categoryName"><span>Category Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categoryDesc"><span>Category Desc</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdAt"><span>Created At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedAt"><span>Updated At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let applianceCategories of applianceCategories ;trackBy: trackId">
                    <td><a [routerLink]="['/appliance-categories', applianceCategories.id, 'view']">{{ applianceCategories.id }}</a></td>
                    <td>{{ applianceCategories.categoryName }}</td>
                    <td>{{ applianceCategories.categoryDesc }}</td>
                    <td>{{ applianceCategories.createdAt | date:'medium' }}</td>
                    <td>{{ applianceCategories.updatedAt | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/appliance-categories', applianceCategories.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/appliance-categories', applianceCategories.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(applianceCategories)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
